pydantic~=2.7.2
aiogram~=3.6.0
python-dotenv~=1.0.1
PyQt5~=5.15.10
databases~=0.9.0
pandas~=2.2.2
joblib~=1.4.2
scikit-learn~=1.5.0
pillow~=10.2.0
opencv-python~=4.9.0.80
torch~=2.2.0+cu118
torchvision~=0.17.0+cu118
numpy~=1.26.4
matplotlib~=3.8.3
onnx~=1.16.0
onnxruntime~=1.17.3
librosa~=0.10.2.post1
catboost~=1.2.5